.question-list {
  overflow-y: scroll;
  max-height: 30vh;
  min-height: 0vh;
  margin: 15px;
}

.search-bar {
  border: none;
  margin: 15px;
}

.search {
  display: flex;
  // border: 1px ssolid black;
  justify-content: space-between;
  width: 99%;
}

small {
  margin: 8px;
}

#photos {
  margin: 5px;
}

.question .answer {
  margin: 8px;
  padding: 5px;
}

.question-helpful {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  padding: 2px;
}

.answer-info, .side-options {
  font-size: smaller;
}

.icon {
  height: 20px;
  width: 20px;
  padding: 5px;
}

.btn {
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}

.text-area-body {
  height: 100px;
  margin: 5px;
  width: 95%;
  padding: 5px;
  resize: vertical;
}

.ask-headers {
  font-weight: 700;
  font-size: 18px;
  margin: 10px;
}

.ask-inputs {
  border: 1px solid #888C8C;
  border-radius: 3px;
  padding: 5px;
  width: 95%;
  margin: 5px;
}

img {
  margin: 5px;
  padding: 5px;
}
// .input-div {
//   padding: 14px;
// }
