$border-radius: 0.25rem !default;
$box-shadow: 0 0.5rem 1rem rgba(black, 0.15) !default;
$box-shadow-hover: 0 .75rem 1rem rgba(black, 0.30) !default;

#related-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

#product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  width: 100%;
  cursor: pointer;
  color: whitesmoke;
  &:hover {
    color: black;
    background-color: #99DDFF;
  }
}

#info-category {
  font-size: 13px;
  font-weight: 200;
  padding: 0 10px;
}

#info-name {
  font-size: 15px;
  font-weight: 600;
  padding: 3px 0 3px 10px;
}

#info-price {
  font-size: 14px;
  padding: 0 10px 4px 10px;
}

#product-preview-img {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 70%;
  position: relative;
}

#preview-img {
  float: left;
  width:  200px;
  height: 197px;
  object-fit: cover;
  position: block;
}

#bs-fill-star-fill {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 20px 0 0;
  cursor: pointer;
  color: whitesmoke;
  &:hover {
    color: #00458B
  }
}

#ti-delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 16px 0 0;
  font-size: 20px;
}

#related-title, #outfit-title {
  font-size: 15px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;

  border: 1px solid rgba(0, 0, 0, 0.26);
  box-shadow: $box-shadow;
  width: 200px;
  height: 280px;
  background-color: #00458B;
  color: whitesmoke;

  &:hover {
    box-shadow: $box-shadow-hover;
  }
}

.add-outfit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.26);
  box-shadow: $box-shadow;
  width: 200px;
  height: 280px;
  background-color: white;

  &:hover {
    box-shadow: $box-shadow-hover;
    background-color: #99DDFF;
    // color: #00458B;
  }
}

#related-product-card, #outfit-card {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 30px;
}

#outfit-product-card {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
}