$start: #f0f4f8;
$one: #d9e2ec;
$two: #bcccdc;
$three: #9fb3c8;
$four: #829ab1;
$five: #627d98;
$six: #486581;
$seven: #334e68;
$eight: #243b53;
$nine: #102a43;
$ten: #090f14ce;
$lightyellow: #FFF0B3;
$yellow: #FFC400;
$lightgreen: #ABF5D1;
$green: #36837E;

$border-radius: 0.25rem !default;
$box-shadow: 0 0.5rem 1rem rgba(black, 0.15) !default;
$box-shadow-hover: 0 .75rem 1rem rgba(black, 0.30) !default;

// #related-product-card {
//   background-color: $ten;
// }

#product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  width: 100%;

  padding-left: 10px;
}

#info-category {
  font-size: 13px;
  font-weight: 200;
}

#info-name {
  font-size: 15px;
  font-weight: 600;
  padding: 3px 0;
}

#info-price {
  font-size: 14px;
  padding-bottom: 4px;
}

#product-preview-img {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 70%;
  position: relative;
}

#preview-img {
  float: left;
  width:  200px;
  height: 197px;
  object-fit: cover;
  position: block;
}

#fa-star-o {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 6px 0 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;

  border: 1px solid rgba(0, 0, 0, 0.26);
  box-shadow: $box-shadow;
  width: 200px;
  height: 280px;

  &:hover {
    box-shadow: $box-shadow-hover;
  }
}

#related-product-card {
  display: flex;
  flex: row;
}