.grid-layout {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minwidth(6, 1fr) 100px;
};

.characteristics-bar {
  height: 8px;
  width: 100%;
  background-color: rgba(232, 232, 232, 0.815);
};

.margin-left {
  margin-left: auto;
  position: relative;
};

.margin-center {
  margin: auto;
  position: relative;
};

.margin-right {
  margin-right: auto;
  position: relative;
};

.characteristics-title {
  display: flex;
  font-size: 16px;
  padding-top: 25px;
  color: black;
};

.characteristics-trait {
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  color: white;

};


