.star-bar {
  height: 8px;
  margin-left: 8px;
  margin-right: 10px;
  margin-top: 5px;
  width: 180px;
  border: none;
  background-color: rgba(232, 232, 232, .8);
};

.star-bar-flex {
  display: flex;
  margin-bottom: 11px;
  padding-left: 8px;
  cursor: pointer;
};

.star-font {
  font-size: 13px;
  color: grey;
};

.grid-layout {
  display: grid;
  grid-template-columns: repeat(1 1fr);
  grid-template-rows: min-width(10 1fr) 100px;
  align-items: center;
};

.recommended-avg {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
};

.stars {
  display: flex;
  justify-content: space-around;
  margin-left: -99px;
  padding-bottom: 14px;
}

.avg-rating {
  grid-column: 1;
  grid-row: 2;
  font-size: 82px;
  text-align: center;
};

.header {
  grid-row: 1;
  grid-column: 1;
  color: grey;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
};

.clear-star-filter {
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
};

.star-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
};

.filters-container {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
};
