.individual-stars, .single-star {
  color: black;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  // flex-direction: row;
  // align-content: left;
}

.star-rating-container {
  color: black;
  // height: 40px;
  // display: flex;
  // justify-content: flex-start;
  // flex-direction: row;
  // align-content: left;
}