.form-title {
  text-align: center;
}

.recommend-product {
  text-align: center;
  padding: 10px;
}

.name {
  text-align: center;
  padding: 10px;
  padding-top: 30px;
}

.email {
  text-align: center;
  padding: 10px;
}

.photos {
  text-align: center;
  padding: 30px;
}

.photosFile {
  text-align: center;
  padding-left: 70px;
}

.review-body {
  text-align: center;
  padding: 10px;
}

.review-summary {
  text-align: center;
  padding: 10px;
}

.button {
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 4px grey;
  cursor: pointer;
  width: 150px;
  display: grid;
  margin-top:20px;
  margin: auto;
  border: 1px solid grey;
}

.characteristics {
  font-size: 15px;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: black;
}